<div class="container">
  <h1>Games</h1>
  <app-search (searchModified)="getSearchValue($event)"></app-search>
  <app-list [games]="games$ | async"></app-list>
  <app-pager (nextPage)="nextPage()" (previousPage)="previousPage()"></app-pager>

</div>

<router-outlet></router-outlet>
